# 1 merge()

In [75]:
import pandas as pd
df1=pd.DataFrame({'id':['A','B','C','D']
                 ,'age':[30,23,25,22]})
df2=pd.DataFrame({'id':['C','D','E','F']
                 ,'age':['Doctor','Accountant','Statistican','Developer']})

In [76]:
df1

  id  age
0  A   30
1  B   23
2  C   25
3  D   22

In [77]:
df2

  id          age
0  C       Doctor
1  D   Accountant
2  E  Statistican
3  F    Developer

## 1.1 inner join

In [78]:
df_inner=df1.merge(df2,on='id',how='inner')

In [79]:
df_inner

  id  age_x       age_y
0  C     25      Doctor
1  D     22  Accountant

### 1.1.1 Excercise

In [80]:
# merge df_movies and df_ratings (inner join)
df_movies=pd.read_csv('IMDb movies.csv',low_memory=False)
df_ratings=pd.read_csv("IMDb ratings.csv",low_memory=False)

df_movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [81]:
df_movies.merge(df_ratings,on='imdb_title_id',how='inner')
pd.merge(df_movies,df_ratings,on='imdb_title_id')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

## 1.2 Outer join(full join)

In [82]:
df1.merge(df2,on='id',how='outer')

  id  age_x        age_y
0  A   30.0          NaN
1  B   23.0          NaN
2  C   25.0       Doctor
3  D   22.0   Accountant
4  E    NaN  Statistican
5  F    NaN    Developer

### 1.2.1 Excercise

In [83]:
# merge df_movies and merge df_rating 
df_movies.merge(df_ratings,on='imdb_title_id',how='outer')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

## 1.3 (Exclusive) full join

In [84]:
# indicator
df1.merge(df2,on='id',how='outer',indicator=True)

  id  age_x        age_y      _merge
0  A   30.0          NaN   left_only
1  B   23.0          NaN   left_only
2  C   25.0       Doctor        both
3  D   22.0   Accountant        both
4  E    NaN  Statistican  right_only
5  F    NaN    Developer  right_only

In [85]:
# query()
df1.merge(df2,on='id',how='outer',indicator=True).query("_merge=='left_only' or _merge=='right_only'")

  id  age_x        age_y      _merge
0  A   30.0          NaN   left_only
1  B   23.0          NaN   left_only
4  E    NaN  Statistican  right_only
5  F    NaN    Developer  right_only

### 1.3.1 Excercise

In [86]:
df_movies.merge(df_ratings,on='imdb_title_id',how='outer',indicator=True)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,_merge
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0,both
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0,both
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0,both
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0,both
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0,both
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0,both
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,both
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0,both
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0,both

In [87]:
df_movies.merge(df_ratings,on='imdb_title_id',how='outer',indicator=True).query("_merge=='left_only' or _merge=='right_only' or _merge=='both'")

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,_merge
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0,both
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0,both
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0,both
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0,both
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0,both
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0,both
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,both
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0,both
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0,both

## 1.4 Left join

In [88]:
df1.merge(df2,on='id',how='left')

  id  age_x       age_y
0  A     30         NaN
1  B     23         NaN
2  C     25      Doctor
3  D     22  Accountant

### 1.4.1 Excercise

In [89]:
# extract a 50% sample of the df_movies dataframe
df_movies_sample= df_movies.sample (frac=0.5)
df_movies_sample

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
58339,tt1460640,Motmalinun Gyerhon,Motmalinun Gyerhon,2007,2007-05-10,Comedy,115,South Korea,Korean,"Seong-wook Kim, Young-hoon Park",...,"Yeon-hong Ahn, Bon-im Goo, Seok-jin Ha, Chae-m...",NaN,6.3,153,NaN,NaN,$ 8274007,NaN,2.0,1.0
64853,tt2139865,Fachon Models,Fachon Models,2014,2014-02-28,Comedy,95,Mexico,Spanish,Rafael Montero,...,"Eugenio Bartilotti, Adriana Louvier, Héctor Ji...",Ulises is a failed actor working in infomercia...,4.7,157,NaN,NaN,$ 1489112,NaN,NaN,1.0
44659,tt0386669,I nuovi eroi,Nouvelle-France,2004,2005-07-20,"Drama, History, Romance",143,"Canada, UK, France","English, North American Indian, French",Jean Beaudin,...,"Noémie Godin-Vigneau, David La Haye, Juliette ...","In the mid-18th Century, as England and France...",5.4,1183,CAD 27000000,$ 1599716,$ 2058007,NaN,25.0,6.0
6281,tt0041776,La donna di picche,The Queen of Spades,1949,1951-05-29,"Drama, Fantasy, Horror",95,UK,English,Thorold Dickinson,...,"Anton Walbrook, Edith Evans, Yvonne Mitchell, ...",An elderly countess strikes a bargain with the...,7.2,1292,NaN,NaN,NaN,NaN,27.0,30.0
60762,tt1678054,Onna no kappa,Onna no kappa,2011,2011-10-27,"Comedy, Drama, Fantasy",87,"Japan, Germany",Japanese,Shinji Imaoka,...,"Sawa Masaki, Yoshirô Umezawa, Ai Narita, Mutsu...","Asuka, 35-year-old woman working at a fish fac...",5.7,588,$ 100000,NaN,NaN,NaN,4.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24282,tt0096256,Essi vivono,They Live,1988,1989-04-14,"Action, Horror, Sci-Fi",94,USA,English,John Carpenter,...,"Roddy Piper, Keith David, Meg Foster, George '...",A drifter discovers a pair of sunglasses that ...,7.3,106618,$ 4000000,$ 13008928,$ 13008928,55.0,409.0,209.0
72510,tt3748440,Blue Mountain State: The Rise of Thadland,Blue Mountain State: The Rise of Thadland,2016,2016-02-02,"Comedy, Sport",90,USA,English,Lev L. Spiro,...,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",When the Dean of Blue Mountain State threatens...,5.8,14557,NaN,NaN,NaN,NaN,29.0,7.0
61258,tt1720254,Thank You,Thank You,2011,2011-04-08,Comedy,125,India,"Hindi, Punjabi",Anees Bazmee,...,"Akshay Kumar, Bobby Deol, Sonam Kapoor, Sunil ...",Three wives engage the services of a private i...,4.7,5138,NaN,$ 463540,$ 5452347,NaN,25.0,13.0
59347,tt1554426,"Aballay, el hombre sin miedo","Aballay, el hombre sin miedo",2010,2011-06-23,"Action, Adventure, Drama",100,"Argentina, Spain","Spanish, English",Fernando Spiner,...,"Pablo Cedrón, Nazareno Casero, Claudio Rissi, ...",Aballay was a bad tempered gaucho. After killi...,6.0,404,NaN,NaN,$ 98966,NaN,2.0,4.0
23447,tt0093720,Përralle Nga e Kaluara,Përralle Nga e Kaluara,1987,1987,Comedy,86,Albania,Albanian,Dhimiter Anagnosti,...,"Elvira Diamanti, Xhevdet Ferri, Mimika Luca, M...","To meet the desires and needs of the parents, ...",7.8,191,NaN,NaN,NaN,NaN,1.0,NaN

In [90]:
# merge df_movies_sample and df_ratings(left join)
df_movies_sample.merge(df_ratings,on='imdb_title_id',how='left')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt1460640,Motmalinun Gyerhon,Motmalinun Gyerhon,2007,2007-05-10,Comedy,115,South Korea,Korean,"Seong-wook Kim, Young-hoon Park",...,5.5,26.0,5.8,8.0,NaN,NaN,5.7,18.0,6.3,99.0
1,tt2139865,Fachon Models,Fachon Models,2014,2014-02-28,Comedy,95,Mexico,Spanish,Rafael Montero,...,4.6,15.0,NaN,NaN,NaN,NaN,4.8,9.0,4.3,77.0
2,tt0386669,I nuovi eroi,Nouvelle-France,2004,2005-07-20,"Drama, History, Romance",143,"Canada, UK, France","English, North American Indian, French",Jean Beaudin,...,5.9,143.0,5.9,69.0,5.0,44.0,5.5,156.0,5.4,768.0
3,tt0041776,La donna di picche,The Queen of Spades,1949,1951-05-29,"Drama, Fantasy, Horror",95,UK,English,Thorold Dickinson,...,7.4,75.0,7.2,71.0,6.5,119.0,7.5,320.0,7.0,683.0
4,tt1678054,Onna no kappa,Onna no kappa,2011,2011-10-27,"Comedy, Drama, Fantasy",87,"Japan, Germany",Japanese,Shinji Imaoka,...,6.0,47.0,9.3,3.0,4.9,14.0,5.4,46.0,5.7,421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42923,tt0096256,Essi vivono,They Live,1988,1989-04-14,"Action, Horror, Sci-Fi",94,USA,English,John Carpenter,...,7.2,3852.0,7.2,1555.0,7.0,633.0,7.4,25157.0,7.2,47256.0
42924,tt3748440,Blue Mountain State: The Rise of Thadland,Blue Mountain State: The Rise of Thadland,2016,2016-02-02,"Comedy, Sport",90,USA,English,Lev L. Spiro,...,5.2,184.0,5.7,24.0,4.9,121.0,5.7,1708.0,5.6,5955.0
42925,tt1720254,Thank You,Thank You,2011,2011-04-08,Comedy,125,India,"Hindi, Punjabi",Anees Bazmee,...,3.2,152.0,5.0,38.0,4.2,43.0,4.6,290.0,4.4,2228.0
42926,tt1554426,"Aballay, el hombre sin miedo","Aballay, el hombre sin miedo",2010,2011-06-23,"Action, Adventure, Drama",100,"Argentina, Spain","Spanish, English",Fernando Spiner,...,6.2,26.0,7.3,6.0,4.8,18.0,5.3,29.0,6.1,288.0
42927,tt0093720,Përralle Nga e Kaluara,Përralle Nga e Kaluara,1987,1987,Comedy,86,Albania,Albanian,Dhimiter Anagnosti,...,8.6,10.0,5.5,2.0,1.7,10.0,7.9,25.0,6.9,88.0

## 1.5 Exclusive left join

In [91]:
# indicator
df1.merge(df2,on='id',how='outer',indicator=True)

  id  age_x        age_y      _merge
0  A   30.0          NaN   left_only
1  B   23.0          NaN   left_only
2  C   25.0       Doctor        both
3  D   22.0   Accountant        both
4  E    NaN  Statistican  right_only
5  F    NaN    Developer  right_only

In [92]:
# query()
df1.merge(df2,on='id',how='outer',indicator=True).query("_merge=='left_only' ")

  id  age_x age_y     _merge
0  A   30.0   NaN  left_only
1  B   23.0   NaN  left_only

### 1.5.1 Excercise

In [93]:
# make copy of the df_movies dataframe
df_movies2=df_movies.copy()
df_movies2.loc[0,'imdb_title_id']

'tt0000009'

In [94]:
# set the first 1000 values of 'imdb_title_id' column as 'tt1234567890'
for index in df_movies2.index:
    if index <1000:
        df_movies2.loc[index,'imdb_title_id']='tt1234567890'
df_movies2

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt1234567890,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt1234567890,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt1234567890,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt1234567890,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt1234567890,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [95]:
# merge df_movies2 and df_ratings (exclusive left join)
df_movies2.merge(df_ratings,on='imdb_title_id',how='outer',indicator=True).query("_merge=='left_only'")

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,_merge
55817,tt1234567890,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45.0,USA,NaN,Alexander Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55818,tt1234567890,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70.0,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55819,tt1234567890,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53.0,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55820,tt1234567890,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100.0,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55821,tt1234567890,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68.0,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56812,tt1234567890,Agente segreto Z1,Three Faces East,1930,1930-08-26,Drama,71.0,USA,English,Roy Del Ruth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56813,tt1234567890,Tom Sawyer,Tom Sawyer,1930,1930-12-19,"Adventure, Comedy, Drama",86.0,USA,English,John Cromwell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56814,tt1234567890,Tonka Sibenice,Tonka Sibenice,1930,1930-07-08,Drama,85.0,"Czechoslovakia, Germany",Czech,Karl Anton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56815,tt1234567890,Top Speed,Top Speed,1930,1930-08-24,"Comedy, Musical, Romance",80.0,USA,English,Mervyn LeRoy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56816,tt1234567890,True to the Navy,True to the Navy,1930,1930-05-25,"Action, Comedy, Romance",71.0,USA,English,Frank Tuttle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

## 1.6 Right join

In [96]:
df1.merge(df2,on='id',how='right')

  id  age_x        age_y
0  C   25.0       Doctor
1  D   22.0   Accountant
2  E    NaN  Statistican
3  F    NaN    Developer

In [97]:
# extract a 50% sample of the df_ratings dataframe
df_ratings_sample= df_ratings.sample (frac=0.3)
df_ratings_sample

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
41463,tt0308875,7.8,177,8.2,9.0,74,30,33,13,9,...,8.5,4.0,4.0,3.0,2.0,13.0,7.9,18.0,7.5,104.0
23775,tt0094833,7.2,434,7.1,8.0,77,57,90,66,56,...,7.6,23.0,7.5,15.0,5.7,33.0,7.3,30.0,7.1,300.0
29809,tt0116565,6.1,616,6.7,7.0,89,59,80,97,129,...,5.8,52.0,6.3,46.0,5.5,44.0,5.8,210.0,6.1,204.0
8759,tt0049367,6.4,773,6.6,7.0,60,55,107,181,183,...,6.4,73.0,6.5,74.0,6.0,109.0,6.4,251.0,6.3,331.0
19637,tt0081471,4.3,237,4.8,4.0,23,4,10,19,28,...,6.5,2.0,4.3,6.0,4.1,31.0,4.5,49.0,4.1,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26757,tt0104875,2.7,130,2.7,2.0,4,0,0,2,4,...,2.2,4.0,3.0,2.0,2.3,17.0,2.6,46.0,3.0,46.0
11892,tt0058255,5.8,235,5.8,6.0,15,8,19,33,59,...,6.9,25.0,4.8,7.0,5.2,6.0,5.0,1.0,5.7,153.0
83926,tt8211942,4.8,344,5.0,5.0,18,2,10,37,72,...,4.2,23.0,5.0,5.0,5.0,2.0,6.3,3.0,4.7,166.0
43524,tt0364236,7.4,723,7.7,8.0,198,73,166,148,65,...,5.8,8.0,3.8,5.0,2.5,17.0,6.6,38.0,7.2,384.0
14773,tt0066574,5.3,353,5.1,5.0,19,14,25,43,47,...,5.1,16.0,5.0,7.0,3.2,18.0,5.2,15.0,5.1,251.0

In [98]:
# merge df_movies and df_ratings sample(right join)
df_movies.merge(df_ratings_sample,on='imdb_title_id',how='right')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0308875,Shaheed-E-Mohabbat Boota Singh,Shaheed-E-Mohabbat Boota Singh,1999,1999-01-01,"Biography, Drama, Musical",121,India,Punjabi,"Shamim Ara, Manoj Punj",...,8.5,4.0,4.0,3.0,2.0,13.0,7.9,18.0,7.5,104.0
1,tt0094833,I cannibali,Os Canibais,1988,1988-11-10,"Musical, Drama, Fantasy",90,"Portugal, France, West Germany, Italy, Switzer...",Portuguese,Manoel de Oliveira,...,7.6,23.0,7.5,15.0,5.7,33.0,7.3,30.0,7.1,300.0
2,tt0116565,Hotel de Love,Hotel de Love,1996,1996-12-19,"Comedy, Drama, Romance",95,Australia,"English, French",Craig Rosenberg,...,5.8,52.0,6.3,46.0,5.5,44.0,5.8,210.0,6.1,204.0
3,tt0049367,Trittico d'amore,Invitation to the Dance,1956,1956-05-15,"Animation, Fantasy, Musical",93,USA,English,"Gene Kelly, Joseph Barbera",...,6.4,73.0,6.5,74.0,6.0,109.0,6.4,251.0,6.3,331.0
4,tt0081471,Sechs Schwedinnen von der Tankstelle,Sechs Schwedinnen von der Tankstelle,1980,1980-09-19,"Comedy, Fantasy",85,Switzerland,German,Erwin C. Dietrich,...,6.5,2.0,4.3,6.0,4.1,31.0,4.5,49.0,4.1,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25751,tt0104875,"Mind, Body & Soul","Mind, Body & Soul",1992,1992-09-16,"Horror, Thriller",93,USA,English,Rick Sloane,...,2.2,4.0,3.0,2.0,2.3,17.0,2.6,46.0,3.0,46.0
25752,tt0058255,Kampen om Næsbygård,Kampen om Næsbygård,1964,1964-12-18,Family,108,Denmark,Danish,"Ib Mossin, Alice O'Fredericks",...,6.9,25.0,4.8,7.0,5.2,6.0,5.0,1.0,5.7,153.0
25753,tt8211942,Sai de Baixo: O Filme,Sai de Baixo: O Filme,2019,2019-02-21,Comedy,83,Brazil,Portuguese,Cris D'Amato,...,4.2,23.0,5.0,5.0,5.0,2.0,6.3,3.0,4.7,166.0
25754,tt0364236,Billa,Billa,1980,1980,"Action, Crime, Thriller",175,India,Tamil,R. Krishnamurthy,...,5.8,8.0,3.8,5.0,2.5,17.0,6.6,38.0,7.2,384.0
25755,tt0066574,Wir haun die Pauker in die Pfanne - Die Lümmel...,Wir haun die Pauker in die Pfanne - Die Lümmel...,1970,1970-07-08,Comedy,84,West Germany,German,Harald Reinl,...,5.1,16.0,5.0,7.0,3.2,18.0,5.2,15.0,5.1,251.0

## 1.7 (Exclusive) right join

In [100]:
df1.merge(df2,on='id',how='outer',indicator=True).query("_merge=='right_only'")

  id  age_x        age_y      _merge
4  E    NaN  Statistican  right_only
5  F    NaN    Developer  right_only

### 1.7.1 Excercise

In [104]:
# make a copy of the df_ratings dataframe
df_ratings2=df_ratings.copy()

In [106]:
# set the first 1000 values of 'imdb_title_id' column as 'tt1234567890'
for index in df_ratings.index:
    if index <1000:
        df_ratings2.loc[index,'imdb_title_id']='tt1234567890'
df_ratings2

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt1234567890,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt1234567890,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt1234567890,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt1234567890,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt1234567890,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,5.3,398,5.5,6.0,13,9,26,65,104,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,7.7,724,7.9,8.0,65,139,288,170,42,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,7.9,265,7.8,8.0,63,29,61,61,31,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,6.4,194,9.4,10.0,176,0,2,2,1,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,6.7,102,6.8,7.0,4,4,21,35,27,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [109]:
# merge df_movies and df_rating_2 (exclusive right join)
df_movies.merge(df_ratings2,on='imdb_title_id',how='outer',indicator=True).query("_merge=='right_only'")

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,_merge
55817,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0,right_only
55818,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0,right_only
55819,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0,right_only
55820,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0,right_only
55821,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56812,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,13.0,5.2,27.0,6.0,84.0,5.6,22.0,right_only
56813,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,6.0,9.0,6.1,29.0,6.8,59.0,6.0,57.0,right_only
56814,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,7.0,3.0,6.5,27.0,7.3,17.0,7.1,76.0,right_only
56815,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.1,16.0,5.7,36.0,6.0,116.0,6.0,22.0,right_only
56816,tt1234567890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,8.0,3.0,6.6,16.0,7.0,39.0,6.6,31.0,right_only