In [1]:
import pandas as pd

In [ ]:
#reading the csv file
df_exams=pd.read_csv('50_Startups.csv')
df_exams

# Selecting one column

## 1.1 Syantax 1

In [13]:
# select a column with [] (preferred way to select a column)
df_exams['State']

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [14]:
# check out the data type of a column
type(df_exams['State'])

pandas.core.series.Series

In [15]:
# series: attributes and methods
df_exams['State'].index

RangeIndex(start=0, stop=50, step=1)

In [16]:
# to get 5 columns of given
df_exams['State'].head()

0      New York
1    California
2       Florida
3      New York
4       Florida
Name: State, dtype: object

## 1.2 Syntax 2

In [19]:
# select a column with .
df_exams.State

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [21]:
# select a column with .(pitfalls)
df_exams.R&D Spend

SyntaxError: invalid syntax (807347893.py, line 2)

In [23]:
# select the same column using []
df_exams['R&D Spend']

0     165349.20
1     162597.70
2     153441.51
3     144372.41
4     142107.34
5     131876.90
6     134615.46
7     130298.13
8     120542.52
9     123334.88
10    101913.08
11    100671.96
12     93863.75
13     91992.39
14    119943.24
15    114523.61
16     78013.11
17     94657.16
18     91749.16
19     86419.70
20     76253.86
21     78389.47
22     73994.56
23     67532.53
24     77044.01
25     64664.71
26     75328.87
27     72107.60
28     66051.52
29     65605.48
30     61994.48
31     61136.38
32     63408.86
33     55493.95
34     46426.07
35     46014.02
36     28663.76
37     44069.95
38     20229.59
39     38558.51
40     28754.33
41     27892.92
42     23640.93
43     15505.73
44     22177.74
45      1000.23
46      1315.46
47         0.00
48       542.05
49         0.00
Name: R&D Spend, dtype: float64