In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_exams=pd.read_csv('50_Startups.csv')
df_exams

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

# 1 Adding a new column
## 1.1 assign()

#### When to use assign?
#####   - Add multiple columns in single line of code
#####   -When you need to overwrite the values of an existing columns (best pratice)

#### It returns a new object (a copy) with all the originals columns in addition to the new one

In [4]:
import numpy as np

In [14]:
# create random numbers for our new score columns
score1 = np.random.randint(1,100,size=50)
score2 = np.random.randint(1,100,size=50)

array([80, 91, 45, 97, 21, 77, 63, 88, 78,  8, 21, 83, 95, 69,  7, 22, 43,
       51,  8, 52, 21,  4, 87, 12, 99,  9,  4, 55, 24, 76, 28, 50, 73, 69,
        1, 66, 29, 43, 93, 81, 60, 44, 42, 65, 96, 89, 68, 75, 39, 48],
      dtype=int32)

In [15]:
# create a series using the random numbers
series1=pd.Series(score1, index=np.arange(0,50))
series2=pd.Series(score2, index=np.arange(0,50))

0     80
1     91
2     45
3     97
4     21
5     77
6     63
7     88
8     78
9      8
10    21
11    83
12    95
13    69
14     7
15    22
16    43
17    51
18     8
19    52
20    21
21     4
22    87
23    12
24    99
25     9
26     4
27    55
28    24
29    76
30    28
31    50
32    73
33    69
34     1
35    66
36    29
37    43
38    93
39    81
40    60
41    44
42    42
43    65
44    96
45    89
46    68
47    75
48    39
49    48
dtype: int32

In [17]:
# using assign() to add multiple columns
df_exams=df_exams.assign(score1=series1,score2=series2)

In [18]:
#using dataframe
df_exams

,R&D Spend,Administration,Marketing Spend,State,Profit,score1,score2
0,165349.20,136897.80,471784.10,New York,192261.83,80,43
1,162597.70,151377.59,443898.53,California,191792.06,91,8
2,153441.51,101145.55,407934.54,Florida,191050.39,45,83
3,144372.41,118671.85,383199.62,New York,182901.99,97,60
4,142107.34,91391.77,366168.42,Florida,166187.94,21,81
5,131876.90,99814.71,362861.36,New York,156991.12,77,87
6,134615.46,147198.87,127716.82,California,156122.51,63,53
7,130298.13,145530.06,323876.68,Florida,155752.60,88,58
8,120542.52,148718.95,311613.29,New York,152211.77,78,1
9,123334.88,108679.17,304981.62,California,149759.96,8,40
10,101913.08,110594.11,229160.95,Florida,146121.95,21,82
11,100671.96,91790.61,249744.55,California,144259.40,83,60
12,93863.75,127320.38,249839.44,Florida,141585.52,95,43
13,91992.39,135495.07,252664.93,California,134307.35,69,61
14,119943.24,156547.42,256512.92,Florida,132602.65,7,48
15,114523.61,122616.84,261776.23,New York,129917.04,22,15
16,78013.11,121597.55,264346.06,California,126992.93,43,70
17,94657.16,145077.58,282574.31,New York,125370.37,51,35
18,91749.16,114175.79,294919.57,Florida,124266.90,8,84
19,86419.70,153514.11,0.00,New York,122776.86,52,85
20,76253.86,113867.30,298664.47,California,118474.03,21,15
21,78389.47,153773.43,299737.29,New York,111313.02,4,68
22,73994.56,122782.75,303319.26,Florida,110352.25,87,93
23,67532.53,105751.03,304768.73,Florida,108733.99,12,4
24,77044.01,99281.34,140574.81,New York,108552.04,99,64
25,64664.71,139553.16,137962.62,California,107404.34,9,5
26,75328.87,144135.98,134050.07,Florida,105733.54,4,93
27,72107.60,127864.55,353183.81,New York,105008.31,55,84
28,66051.52,182645.56,118148.20,Florida,103282.38,24,82
29,65605.48,153032.06,107138.38,New York,101004.64,76,75
30,61994.48,115641.28,91131.24,Florida,99937.59,28,21
31,61136.38,152701.92,88218.23,New York,97483.56,50,9
32,63408.86,129219.61,46085.25,California,97427.84,73,12
33,55493.95,103057.49,214634.81,Florida,96778.92,69,65
34,46426.07,157693.92,210797.67,California,96712.80,1,14
35,46014.02,85047.44,205517.64,New York,96479.51,66,60
36,28663.76,127056.21,201126.82,Florida,90708.19,29,19
37,44069.95,51283.14,197029.42,California,89949.14,43,86
38,20229.59,65947.93,185265.10,New York,81229.06,93,60
39,38558.51,82982.09,174999.30,California,81005.76,81,78
40,28754.33,118546.05,172795.67,California,78239.91,60,96
41,27892.92,84710.77,164470.71,Florida,77798.83,44,36
42,23640.93,96189.63,148001.11,California,71498.49,42,78
43,15505.73,127382.30,35534.17,New York,69758.98,65,32
44,22177.74,154806.14,28334.72,California,65200.33,96,8
45,1000.23,124153.04,1903.93,New York,64926.08,89,86
46,1315.46,115816.21,297114.46,Florida,49490.75,68,2
47,0.00,135426.92,0.00,California,42559.73,75,91
48,542.05,51743.15,0.00,New York,35673.41,39,47
49,0.00,116983.80,45173.06,California,14681.40,48,60

## 1.2 insert()

#### Inserts a new column at a specific position or index.

In [26]:
# using index() to add a column at a specific position or index
df_exams.insert(1,'rank1',series1)

In [27]:
# show dataframe
df_exams

,R&D Spend,rank1,rank,Administration,Marketing Spend,State,Profit,score1,score2
0,165349.20,80,80,136897.80,471784.10,New York,192261.83,80,43
1,162597.70,91,91,151377.59,443898.53,California,191792.06,91,8
2,153441.51,45,45,101145.55,407934.54,Florida,191050.39,45,83
3,144372.41,97,97,118671.85,383199.62,New York,182901.99,97,60
4,142107.34,21,21,91391.77,366168.42,Florida,166187.94,21,81
5,131876.90,77,77,99814.71,362861.36,New York,156991.12,77,87
6,134615.46,63,63,147198.87,127716.82,California,156122.51,63,53
7,130298.13,88,88,145530.06,323876.68,Florida,155752.60,88,58
8,120542.52,78,78,148718.95,311613.29,New York,152211.77,78,1
9,123334.88,8,8,108679.17,304981.62,California,149759.96,8,40
10,101913.08,21,21,110594.11,229160.95,Florida,146121.95,21,82
11,100671.96,83,83,91790.61,249744.55,California,144259.40,83,60
12,93863.75,95,95,127320.38,249839.44,Florida,141585.52,95,43
13,91992.39,69,69,135495.07,252664.93,California,134307.35,69,61
14,119943.24,7,7,156547.42,256512.92,Florida,132602.65,7,48
15,114523.61,22,22,122616.84,261776.23,New York,129917.04,22,15
16,78013.11,43,43,121597.55,264346.06,California,126992.93,43,70
17,94657.16,51,51,145077.58,282574.31,New York,125370.37,51,35
18,91749.16,8,8,114175.79,294919.57,Florida,124266.90,8,84
19,86419.70,52,52,153514.11,0.00,New York,122776.86,52,85
20,76253.86,21,21,113867.30,298664.47,California,118474.03,21,15
21,78389.47,4,4,153773.43,299737.29,New York,111313.02,4,68
22,73994.56,87,87,122782.75,303319.26,Florida,110352.25,87,93
23,67532.53,12,12,105751.03,304768.73,Florida,108733.99,12,4
24,77044.01,99,99,99281.34,140574.81,New York,108552.04,99,64
25,64664.71,9,9,139553.16,137962.62,California,107404.34,9,5
26,75328.87,4,4,144135.98,134050.07,Florida,105733.54,4,93
27,72107.60,55,55,127864.55,353183.81,New York,105008.31,55,84
28,66051.52,24,24,182645.56,118148.20,Florida,103282.38,24,82
29,65605.48,76,76,153032.06,107138.38,New York,101004.64,76,75
30,61994.48,28,28,115641.28,91131.24,Florida,99937.59,28,21
31,61136.38,50,50,152701.92,88218.23,New York,97483.56,50,9
32,63408.86,73,73,129219.61,46085.25,California,97427.84,73,12
33,55493.95,69,69,103057.49,214634.81,Florida,96778.92,69,65
34,46426.07,1,1,157693.92,210797.67,California,96712.80,1,14
35,46014.02,66,66,85047.44,205517.64,New York,96479.51,66,60
36,28663.76,29,29,127056.21,201126.82,Florida,90708.19,29,19
37,44069.95,43,43,51283.14,197029.42,California,89949.14,43,86
38,20229.59,93,93,65947.93,185265.10,New York,81229.06,93,60
39,38558.51,81,81,82982.09,174999.30,California,81005.76,81,78
40,28754.33,60,60,118546.05,172795.67,California,78239.91,60,96
41,27892.92,44,44,84710.77,164470.71,Florida,77798.83,44,36
42,23640.93,42,42,96189.63,148001.11,California,71498.49,42,78
43,15505.73,65,65,127382.30,35534.17,New York,69758.98,65,32
44,22177.74,96,96,154806.14,28334.72,California,65200.33,96,8
45,1000.23,89,89,124153.04,1903.93,New York,64926.08,89,86
46,1315.46,68,68,115816.21,297114.46,Florida,49490.75,68,2
47,0.00,75,75,135426.92,0.00,California,42559.73,75,91
48,542.05,39,39,51743.15,0.00,New York,35673.41,39,47
49,0.00,48,48,116983.80,45173.06,California,14681.40,48,60