In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_exams=pd.read_csv('50_Startups.csv')
df_exams.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# 1 Value Counts

In [3]:
# counting gender elements
df_exams['Profit'].count()

np.int64(50)

In [4]:
# len function
len (df_exams['Profit'])

50

In [8]:
# counting gender elements by category
df_exams['State'].value_counts()

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [10]:
# return the relative frequency (divide all values by the sum of values)
df_exams['State'].value_counts(normalize=True)

State
New York      0.34
California    0.34
Florida       0.32
Name: proportion, dtype: float64

In [13]:
# return the relative frequency (divide all values by the sum of values)
df_exams['State'].value_counts(normalize=True).round(1)

State
New York      0.3
California    0.3
Florida       0.3
Name: proportion, dtype: float64